.vscode/
.*
common/*.o
infectivity_router_module/
kernelspace/headers/*.c
kernelspace/headers/*.o
kernelspace/source/*.o
kernelspace/source/*.d
userspace/libtomcrypt/crypt/*.o
userspace/libtomcrypt/hashes/*.o
userspace/libtomcrypt/misc/*.o
userspace/*.test
userspace/*.cp
userspace/*.infec
userspace/*.out
userspace/.*
*.mod
*.mod.*
*.o
*.cmd
*.ko
*.json
*.test
*.d
Module.symvers
modules.order
pwd
testing/