.vscode/
headers/*.c
headers/*.o
source/*.o
userspace/libtomcrypt/crypt/*.o
userspace/libtomcrypt/hashes/*.o
userspace/libtomcrypt/misc/*.o
userspace/*.test
*.mod
*.mod.*
*.o
*.cmd
*.ko
*.json
*.test
Module.symvers
modules.order
pwd
testing/