.vscode/
.*
router_module/.*
router_module/common/*.o
router_module/infectivity_router_module/
router_module/kernelspace/headers/*.c
router_module/kernelspace/headers/*.o
router_module/kernelspace/source/*.o
router_module/kernelspace/source/*.d
router_module/userspace/libtomcrypt/crypt/*.o
router_module/userspace/libtomcrypt/hashes/*.o
router_module/userspace/libtomcrypt/misc/*.o
router_module/userspace/*.test
router_module/userspace/*.cp
router_module/userspace/*.infec
router_module/userspace/*.out
router_module/userspace/.*
router_module/*.mod
router_module/*.mod.*
router_module/*.o
router_module/*.cmd
router_module/*.ko
router_module/*.json
router_module/*.test
router_module/*.d
router_module/Module.symvers
router_module/modules.order
router_module/pwd

*.mod
*.mod.*
*.o
*.cmd
*.ko
*.json
*.test
*.d
Module.symvers
modules.order
pwd
router_module/testing/
